:root {
    --brand-color: #2F303A;
    --accent-color: #2196F3;
    --primary-text-color: #FFFFFF;
    --title-text-color: #212121;
    --secondary-text-color: #757575;
}

/* Скидання налаштувань */
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

/* Шапка */
.page-header {
    background-color: var(--primary-text-color);
}

/* логотип */

.logo-web {
    color: var(--accent-color);
    Font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;}
          
.logo-studio {color: #000;
    Font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;}

/* Контакти */

.current {color: var(--title-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;}
.current:hover, .current:focus {
   color: var(--accent-color)
   }
    

.contacts {
    color: var(--title-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}
.contacts:hover {
    color: var(--accent-color)
}


/* Основний контент сторінки Студія*/

.hero {
  background-color: var(--brand-color);
 }
 .hero-title {
    color: var(--primary-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
 }

 .section-title {
    color: var(--title-text-color)
 }

/* Кнопка  */

.button-primary {
    background-color: var(--accent-color);
    color: var(--primary-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
        font-size: 16px;
        line-height: 30px;
    display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
   }

/* Основний контент сторінки Портфоліо */

.main {
    background-color: #F5F5F5;
}

.button {
    background-color: #F5F4FA;
    color:var(--title-text-color) ;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;  }
.button:hover, .button:focus { color: var(--primary-text-color); background-color: var(--accent-color);
}


/* Підвал */

.page-footer {
  background-color: var(--brand-color);}

.logo-studio-text {
    color: var(--primary-text-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}

.address-text {color: var(--primary-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;}

.mail {
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em; }
.mail:hover, .mail:focus {
  color: var(--accent-color);
}
 

.phone {
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.phone:hover, .phone:focus {
    color: var(--accent-color);
}

